<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>HomeCloudHub</title>
<link rel="stylesheet" href="/static/css/style.css" />
</head>
<body>
<h1>Welcome to HomeCloudHub!</h1>
<div class="file-explorer">
<input type="text" id="searchInput" placeholder="Search for files..." />
<button id="search" onclick="searchFiles()">Search</button>
<form
action="/upload"
method="post"
enctype="multipart/form-data"
>
<input
type="file"
id="fileUpload"
name="file"
multiple
style="display: none"
onchange="updateName()"
/>
<label for="fileUpload" class="upload-box">Choose files</label>
<input
type="text"
id="fileName"
placeholder="No files chosen"
readonly
/>
<button type="submit" class="upload-btn">Upload</button>
</form>
<form id="fileActionsForm" action="#" method="post">
<ul id="fileList">
<% for (String file : (List<String>) request.getAttribute("files")) { %>
<li class="custom-list">
<input type="checkbox" name="selectedFiles" value="<%= file %>" /> <%= file %>
<a
href="/files/<%= file %>"
class="download-link"
>Download</a>
</li>
<% } %>
</ul>
</form>
<div class="action-btns">
<button
type="button"
id="downloadSelectedBtn"
onclick="downloadSelected()"
>
Download Selected
</button>
<button
type="submit"
id="deleteSelectedBtn"
onclick="return confirmDelete()"
>
Delete Selected
</button>
</div>
</div>
<script>
function searchFiles() {
var searchInput = document.getElementById("searchInput");
window.location.href = "/?search=" + encodeURIComponent(searchInput.value);
}
function downloadSelected() {
var selectedFiles = document.querySelectorAll('input[name="selectedFiles"]:checked');
selectedFiles.forEach(function(file) {
window.open('/files/' + file.value);
});
}
function confirmDelete() {
var selectedFiles = document.querySelectorAll('input[name="selectedFiles"]:checked');
var fileNames = Array.from(selectedFiles).map(function(file) {
return file.value;
});
if (fileNames.length > 0) {
return confirm("Are you sure you want to delete these files: " + fileNames.join(", ") + "?");
} else {
alert("Please select files to delete.");
return false;
}
}
function updateName() {
var input = document.getElementById("fileUpload");
var fileNameDisplay = document.getElementById("fileName");
var fileCount = input.files.length;
if (fileCount === 1) {
fileNameDisplay.value = input.files[0].name;
} else if (fileCount > 1) {
fileNameDisplay.value = fileCount + " files selected";
} else {
fileNameDisplay.value = "";
fileNameDisplay.placeholder = "No files chosen";
}
}
</script>
</body>
</html>
